<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<h3>PkManager</h3>
<p>An application to manage Slackware packages.
<p>The main functions are to check the installed packages and remove or update them by downloading them from the Patch or Current Repository. You can freely download and install packages taken from other repositories.<p>
<p>  Applicaton licensed under the terms of <a href="http://www.gnu.org/licenses/gpl-2.0.html">GPL v2</a>
</br>
<h2>PkManager comandi principali</h2>
<p><table width='80%'><tr><th>Symbol</th><th>Meaning</th></tr>
<tr><td align='center'><img src=':/inspkg'>
</td><td valign='middle'>Search package on local disk<br/>and update, or if is selected Repository tab download it.</td>
<tr><td align='center'><img src=':/rempkg'>
</td><td valign='middle'>Remove package from local disk</td>
<tr><td align='center'><img src=':/delpkg'>
</td><td valign='middle'>Delete package from local disk</td>
<tr><td align='center'><img src=':/reload'>
</td><td valign='middle'>Reload list package</td>
<tr><td align='center'><img src=':/srcpkg'>
</td><td valign='middle'>Search package<br/>installed</td>
<tr><td align='center'><img src=':/srcfile'>
</td><td valign='middle'>Search file inside package</td>
</table>


<p>
I'd like to <strong>thank</strong>:
</p>
<ul>
<li>KPackage by  Toivo Pedaste</li>
<li><a href="https://qtgzmanager.wordpress.com/">QTGZManager</a> by Alexandre Albuquerque Arnt</li>
</ul>
<br>
