<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<h3>PkManager</h3>
<p>Un applicazione per gestire i pacchetti Slackware.
<p>   Le funzioni principali sono di controllare i pacchetti installati e rimuoverli o aggiornarli scaricandoli dal Repository Patch o  Current.
<p>   Si puo scaricare ed installare liberamente i pacchetti presi da altri Repository.
<p>  Applicazione rilasciata sotto i termini della <a href="http://www.gnu.org/licenses/gpl-2.0.html">GPL v2</a>
</br>
<h2>PkManager comandi principali</h2>
<p><table width='80%'><tr><th>Symbol</th><th>Meaning</th></tr>
<tr><td align='center'><img src=':/inspkg'>
</td><td valign='middle'>Ricerca pacchetti sul proprio Computer<br/>ed installarli o aggiornarli.
                         Se selezionata la tab Repository si possono scaricarli dal repository  Patch o Current.</td>
<tr><td align='center'><img src=':/rempkg'>
</td><td valign='middle'>Rimuovi i pacchetti installati</td>
<tr><td align='center'><img src=':/delpkg'>
</td><td valign='middle'>Cancella o rimuove i pacchetti dal Computer </td>
<tr><td align='center'><img src=':/reload'>
</td><td valign='middle'>Ricarica le liste dei pacchetti</td>
<tr><td align='center'><img src=':/srcpkg'>
</td><td valign='middle'>Ricerca di un pacchetto<br/>installato</td>
<tr><td align='center'><img src=':/srcfile'>
</td><td valign='middle'>Ricerca di un file al interno dei pacchetti</td>
</table>


<p>
Vorrei <strong>ringraziare</strong>:
</p>
<ul>
<li>KPackage by  Toivo Pedaste</li>
<li><a href="https://qtgzmanager.wordpress.com/">QTGZManager</a> by Alexandre Albuquerque Arnt</li>
</ul>
<br>
